@model Sohba.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_AppLayout"; // run this page into _AppLayout.cshtml
}

<style>
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
</style>

<div class="grid grid-cols-1 xl:grid-cols-12 gap-6 items-start relative">
    <div class="col-span-1 xl:col-span-8 space-y-6">
        <partial name="Partials/_StoryRail" model="Model.Stories" />
        <partial name="Partials/_CreatePost" />
        <partial name="Partials/_PostCard" model="Model.Posts" />
    </div>
    <partial name="Partials/_RightSidebar" />
</div>

<!-- Modals -->
<partial name="Partials/_CreateStoryModal" />
<partial name="Partials/_StoryViewer" />